<div class="container-footer">
    <!-- 文档页脚 -->
    <a href="{{ .Site.Params.contact.icplink }}" target="_blank">
        {{ with .Site.Params.contact.icp }}
        {{ . }}
        {{ else }}
        <span class="some">enter your icp or a interesting slogan...<span>
                {{ end }}
    </a>
    <a id="s" href="/secrets">&nbsp;</a>
    <!-- {{- partial "partials/_media.html" . -}} -->

    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']]
            },
    };
    </script>
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
</div>